doctype html
html(lang="ja")
    head
        title= htmlWebpackPlugin.options.title
        include includes/_meta.pug
        link(rel="icon", href="")
    body
        .container
            h1 boilerplate